<% provide(:title, 'Sign up') %>
<div class = "col-sm-12 text-center"><h1>註冊</h1></div>
<div class="row" >
	<div class="col-md-6 col-md-offset-3">
		<!-- FORM -->
		<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> 
			<!-- pass in the variable if our form is valid or invalid -->
			<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
			<%= form_for(@user) do |f| %>
<!-- 			<%= f.label :name %>
 --><!-- 			<%= f.text_field :name, class: 'form-control' %>
 -->			
			<!-- NAME -->
			<label>名字</label>
			<%= f.text_field :name, :class=>'form-control', :placeholder=>"名字", :'ng-model'=>"name", :name => "name" %>
			<!--<input type="text" name="name" class="form-control" ng-model="name" required>  -->
 			<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">名字為必填</p>
 <!-- ng-show="userForm.name.$invalid && !userForm.name.$pristine" -->
			<!-- 		<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			<%= f.submit "建立帳號", class: "btn btn-primary form-control" %> -->
			<% end %>



		</form>
	</div>
</div>


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript">
// create angular app
	var validationApp = angular.module('validationApp', []);

	// create angular controller
	validationApp.controller('mainController', function() {
	});

	function mainController($scope) {
    $scope.user = {};
	}


		</script>





