<% provide(:title, 'Sign up') %>
<div class = "col-sm-12 text-center"><h1>註冊</h1></div>
<div class="row"  >
	<div class="col-md-6 col-md-offset-3">
			<!-- pass in the variable if our form is valid or invalid -->
			<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
<%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>

	</div>
</div>
