<% provide(:title, 'Sign up') %>
<div class = "col-sm-12 text-center"><h1>註冊</h1></div>
<div class="row" ng-app="validationApp" ng-controller="mainController" >
	<div class="col-md-6 col-md-offset-3">
		<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
			<!-- pass in the variable if our form is valid or invalid -->
			<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
					<%= form_for(@user) do |f| %>

			<label>使用者名稱</label>
			<%= f.text_field :name, :class=>'form-control', :placeholder=>"", :'ng-model'=>"name", :name => "name", :'ng-minlength' => "3", :'ng-maxlength' => "8", :required => true %>
			<span ng-show="userForm.name.$error.minlength" class="help-block"> 使用者名稱要多於3個字唷</span>
			<span ng-show="userForm.name.$error.maxlength" class="help-block">使用者名稱要少於8個字唷</span>
			<span ng-show="userForm.name.$error.required && userForm.name.$touched" class="help-block">{{ message }}</span>

			
			<label>信箱</label>
			<%= f.email_field :email, :class => 'form-control', :'ng-model'=>"email", :name => "email", :required => true %>
			<div ng-show="userForm.$submitted || userForm.email.$touched" class="help-block">
				<span ng-show="userForm.email.$error.required">告訴我們你的信箱吧！</span>
				<span ng-show="userForm.email.$error.email">Ooops, 信箱格式不對唷！</span>
			</div>

			<label>密碼</label>
			<%= f.password_field :password, :class => 'form-control' %>


			<label>密碼卻認</label>
			<%= f.password_field :password_confirmation, :class => 'form-control' %>


 			<%= f.submit "建立帳號", :class => "btn btn-primary form-control" %>
		<% end %>

		</form>
	</div>
</div>
